

@media(max-width:768px){
    .texto_descricao_header{
        font-size: 14px;
    }

    #section_descricao{
        height: 650px;
    }

    .img_faixa{
        width: 140px;
    }

    #container_logos{
        width: 80%;
    }

    .IMG_etapa{
        display: none;
    }

    #section_etapa{
        display: flex;
        flex-direction: column;
    }

}


@media(max-width:426px){
    #container_logos{
        flex-direction: column;
    }
    #container_card{
        margin: 15px;
    }
}

@media(max-width:375px){
    .cartao .nome{
        font-size: 10px;
        letter-spacing: normal;
        text-align: center;
    }

    .cartao .nome{
        gap: 0;
    }
}